<div>
  <ng-template #buttonsTemplate>
    <div [className]="'exit-button'" (click)="close()">
      <i class="eva eva-close-outline"></i>
    </div>
  </ng-template>
  <shared-topbar [buttonsTemplate]="buttonsTemplate" [header]="'Console'"></shared-topbar>
  <div class="wrapper">
    <div class="console-container">
      <table>
        <tbody>
          <tr>
            <th>1.</th>
            <td>dsadsada</td>
          </tr>
          <tr>
            <th>2.</th>
            <td>dsadsadadsadsadadsadsadadsadsadadsadsadadsadsadadsadsadadsadsadadsadsadadsadsadadsadsadadsadsadadsadsadadsadsadadsadsadadsadsadadsadsadadsadsadadsadsadadsadsadadsadsadadsadsadadsadsadadsadsadadsadsadadsadsadadsadsadadsadsadadsadsadadsadsadadsadsadadsadsadadsadsada</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
