<div>
  <ng-template #buttonsTemplate>
    <div [className]="'exit-button'" (click)="close()">
      <i class="eva eva-close-outline"></i>
    </div>
  </ng-template>
  <shared-topbar [buttonsTemplate]="buttonsTemplate" [header]="'Console'"></shared-topbar>
  <div class="wrapper">
    <div class="console-container">
      <table>
        <tbody>
          <tr *ngFor="let line of log; index as lineNo;">
            <th>{{lineNo + 1}}.</th>
            <td>{{line}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
