.input {
  width: calc(100% - 1.5em);
  outline: none;
  border: none;
  background-color: rgba(224,224,224,0.5);
  font-size: 16px;
  padding: 0.75em;
  border-radius: 4px;
}
.input-container {
  p {
    margin: 0.5em 0;
    font-family: Lato-Bold, serif;
    font-size: 16px;
  }

  .details {
    display: flex;
    align-items: center;
    label {
      font-size: 12px;
      margin-left: auto;
    }
  }

}
