.topbar {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 1em;
  border-bottom: 2px dashed var(--default-border-color);

  .button-container {
    margin-left: auto;
  }

  .header {
    h1 {
      font-weight: normal;
      font-family: Lato-Bold, serif;
    }
    .secondary {
      font-size: 26px;
    }
  }
  .image {
    margin-right: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 75px;
    height: 75px;
    overflow: hidden;
    border: 1px solid var(--default-border-color);
    background-color: rgba(220, 220, 220, 0.25);
    font-size: 28px;
  }
}
