<div [className]="'team-member-container'">
  <div [className]="'image'">
    <img src="https://img.currency.com/imgs/articles/834xx/BAYC-Adidas.jpg"/>
  </div>
  <div [className]="'info-container'">
    <div>
      <h1>Username</h1>
      <h2>test</h2>
    </div>
    <div>
      <h1>Member since</h1>
      <h2>test</h2>
    </div>
  </div>
  <div [className]="'button-container'">
    <shared-button [theme]="'error'">
      <i class="eva eva-person-remove-outline"></i>
    </shared-button>
  </div>
</div>
