.navbar {
  display: flex;
  width: calc(100% - 1em);
  padding: 0.5em;
  background: rgb(225,225,225,0.1);
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  .user-container {
    margin-left: auto;
    margin-right: 0.5em;
  }
}
