<shared-primary-page [disableHeader]="true">

  <ng-template #buttonsTemplate>
    <div [className]="'button-container'">
      <shared-button [text]="'Stop'" theme="error"></shared-button>
    </div>
  </ng-template>
  <ng-template #imageTemplate>
    <i class="eva eva-cube-outline"></i>
  </ng-template>

  <shared-topbar [buttonsTemplate]="buttonsTemplate" [imageTemplate]="imageTemplate" [header]="'Run #1132'"></shared-topbar>

  <table [className]="'run-table'">
    <thead>
      <tr>
        <th>ID</th>
        <th>Context</th>
        <th>Image</th>
        <th>Started</th>
        <th>Finished</th>
        <th>Overall time</th>
        <th>Steps</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let job of runData?.jobs" (click)="openJob(job.id)">
        <td>{{job.id}}</td>
        <td>{{job.jobContext}}</td>
        <td>latest</td>
        <td>{{getStartedTime(job)}}</td>
        <td>{{getFinishedTime(job)}}</td>
        <td>{{job.executionTime}}</td>
        <td>{{job.steps}}</td>
        <td *ngIf="job.state == State.RUNNING" [className]="'running'"><i class="eva eva-loader-outline"></i></td>
        <td *ngIf="job.state == State.SUCCESSFUL" [className]="'successful'"><i class="eva eva-checkmark-circle-outline"></i></td>
        <td *ngIf="job.state == State.FAILED" [className]="'failed'"><i class="eva eva-alert-circle-outline"></i></td>
      </tr>
    </tbody>
  </table>
</shared-primary-page>
