@import "../../../../../../shared/popup/styles/content";
.variables {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 0.5em;
  .header, .values {
    width: 100%;
  }
  .header {
    display: flex;
    flex-direction: row;
    text-align: left;
    h1 {
      font-size: 16px;
    }
  }
  .values {
    overflow: hidden;
    text-overflow: ellipsis;
    .row {
      display: flex;
      flex-direction: row;
      margin: 0.25em 0;
      h2 {
        font-size: 16px;
      }
    }
  }
  .key, .value {
    width: 40%;
    flex: 1;
  }
  .secret {
    width: 20%;
  }
  .key, .value, .secret {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0.25em;
  }
}
