<shared-primary-page [disableHeader]="true">

  <ng-template #buttonsTemplate>
    <div class="button-container" *ngIf="(isUserAdmin() | async)">
      <shared-button [text]="'Edit'" theme="default" (onClick)="openEditWindow()"></shared-button>
      <shared-button [text]="'Delete'" theme="error" (onClick)="openDeleteWindow()"></shared-button>
    </div>
  </ng-template>
  <ng-template #imageTemplate>
    <img [className]="'team-image'" [src]="team?.image"/>
  </ng-template>

  <shared-topbar [buttonsTemplate]="buttonsTemplate" [imageTemplate]="imageTemplate" [header]="team?.name ?? 'N/A'"></shared-topbar>

  <div [className]="'container'">
    <div [className]="'content'">
      <shared-data [header]="'Id'" [value]="team?.id?.toString() ?? 'N/A'"></shared-data>
      <shared-data [header]="'Description'" [value]="team?.description?.toString() ?? 'N/A'"></shared-data>
      <shared-data [header]="'Visibility'" [value]="team?.isPublic ? 'Public' : 'Private'"></shared-data>
    </div>
  </div>

  <ng-template #addMemberButtonTemplate>
    <div class="button-container" *ngIf="team?.isPublic || (isUserAdmin() | async)">
      <shared-button [text]="'Add member'" theme="default" (onClick)="openAddMemberWindow()"></shared-button>
    </div>
  </ng-template>

  <div [className]="'topbar-container'">
    <shared-topbar [buttonsTemplate]="addMemberButtonTemplate" [header]="'Members'" [secondary]="true"></shared-topbar>
  </div>

  <div [className]="'members-container'" >
    <team-member *ngFor="let member of team?.members" [member]="member" [showKickButton]="(showKickButton(member) | async) ?? false" (onUpdateRole)="openUpdateRoleWindow($event)" (onKick)="openKickMemberWindow($event)"></team-member>
  </div>

  <ng-template #projectButtonsTemplate>
    <div class="button-container" *ngIf="canUserModify() | async">
    <shared-button [text]="'Create'" theme="default" (onClick)="openCreateProjectWindow()"></shared-button>
    </div>
  </ng-template>

  <div [className]="'topbar-container'">
    <shared-topbar [buttonsTemplate]="projectButtonsTemplate" [header]="'Projects'" [secondary]="true"></shared-topbar>
  </div>

  <div [className]="'project-container'" *ngFor="let project of team?.projects">
    <shared-project [project]="project"></shared-project>
  </div>

  <ng-template #createProjectTemplate>
    <team-create-project (onClose)="toggleWindow(false)" (onCreate)="onCreateProject($event)"></team-create-project>
  </ng-template>

  <ng-template #editTeamTemplate>
    <team-edit (onClose)="toggleWindow(false)" [team]="team" (onEdit)="onEdit($event)"></team-edit>
  </ng-template>

  <ng-template #kickMemberTemplate>
    <team-kick (onCancel)="toggleWindow(false)" [member]="selectedMember" (onKick)="onKick($event)"></team-kick>
  </ng-template>

  <ng-template #updateRoleTemplate>
    <team-update-role (onCancel)="toggleWindow(false)" [member]="selectedMember!" (onUpdate)="onUpdateRole($event)"></team-update-role>
  </ng-template>

  <ng-template #addMemberTemplate>
    <team-add-member (onCancel)="toggleWindow(false)" (onAdd)="onAddMember($event)"></team-add-member>
  </ng-template>

  <ng-template #deleteTeamTemplate>
    <team-delete (onCancel)="toggleWindow(false)" [teamName]="team?.name" (onDelete)="onDelete()"></team-delete>
  </ng-template>

  <shared-popup *ngIf="showWindow" [contentTemplate]="currentTemplate"></shared-popup>

</shared-primary-page>
