@import "../../../../shared/page/styles/page";
.run-table {
  width: 100%;
  margin-top: 1em;
  text-align: center;
  border-collapse: collapse;
  user-select: none;
  table-layout: fixed;
  thead {
    border-bottom: 1px solid var(--default-border-color);
    th {
      font-weight: normal;
    }
  }
  tbody tr {
    &:hover {
      background-color: rgba(200,200,200,0.1);
    }
  }
  tr {
    cursor: pointer;
  }
  td, th {
    padding: 1em;
  }
  td:last-of-type {
    i {
      padding: 0.25em;
      font-size: 18px;
      border-radius: 100px;
    }
  }
}
.steps-details {
  display: flex;
  background-color: red;
}
@keyframes rotate {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}
