<shared-primary-page [disableHeader]="true">

  <ng-template #buttonsTemplate>
    <div [className]="'button-container-top'" *ngIf="(showActions() | async)">
      <shared-button [text]="'Variables'" theme="default"></shared-button>
      <shared-button [text]="'Edit details'" theme="default" (onClick)="openEditWindow()"></shared-button>
      <shared-button [text]="'Delete'" theme="error" (onClick)="openDeleteWindow()"></shared-button>
    </div>
  </ng-template>
  <ng-template #imageTemplate>
    <i class="eva eva-layers-outline"></i>
  </ng-template>

  <ng-template #editProjectTemplate>
    <project-edit (onClose)="toggleWindow(false)" (onEdit)="onEdit($event)" [project]="projectData"></project-edit>
  </ng-template>

  <ng-template #deleteProjectTemplate>
    <project-delete (onCancel)="toggleWindow(false)" [projectName]="projectData?.project?.name" (onDelete)="onDelete()"></project-delete>
  </ng-template>

  <shared-popup *ngIf="showWindow" [contentTemplate]="currentTemplate"></shared-popup>

  <shared-topbar [buttonsTemplate]="buttonsTemplate" [imageTemplate]="imageTemplate" [header]="projectData?.project?.name ?? 'N/A'"></shared-topbar>
  <div [className]="'container'">
    <div [className]="'content'">
      <shared-data [header]="'Id'" [value]="projectData?.project?.id?.toString() ?? 'N/A'"></shared-data>
      <shared-data [header]="'Description'" [value]="projectData?.project?.description?.toString() ?? 'N/A'"></shared-data>
      <shared-data [header]="'Visibility'" [value]="projectData?.project?.isPrivateProject ? 'Private' : 'Public'"></shared-data>
      <shared-data *ngIf="projectData?.isPrivateRepository" [header]="'Git user'" [value]="'*******'"></shared-data>
      <shared-data *ngIf="projectData?.isPrivateRepository" [header]="'Git secret'" [value]="'*******'"></shared-data>
    </div>
  </div>

  <div [className]="'topbar-container'">
    <shared-topbar [header]="'Runs'" [secondary]="true"></shared-topbar>
  </div>

  <table [className]="'runs-table'">
    <thead>
    <tr>
      <th>ID</th>
      <th>Context</th>
      <th>Started</th>
      <th>Execution time</th>
      <th>Jobs</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr (click)="openRun(1)">
      <td>1</td>
      <td>Windows</td>
      <td>2013.13.1</td>
      <td>0:55</td>
      <td>4/5</td>
      <td [className]="'successful'"><i class="eva eva-checkmark-circle-outline"></i></td>
    </tr>
    <tr>
      <td>1</td>
      <td>Linux</td>
      <td>2013.13.1</td>
      <td>0:55</td>
      <td>1/1</td>
      <td [className]="'failed'"><i class="eva eva-alert-circle-outline"></i></td>
    </tr>
    <tr>
      <td>1</td>
      <td>2013.13.1</td>
      <td>0:55</td>
      <td>Successful</td>
    </tr>
    </tbody>
  </table>

</shared-primary-page>
