.nav-user-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  .settings {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.75em;
    padding: 0.25em;
    border-radius: 100px;
    background-color: rgba(220, 220, 220, 0.25);
    border: 1px solid var(--default-border-color);
    cursor: pointer;
    i {
      font-size: 18px;
    }
  }

  .info {
    text-align: right;
    margin-right: 1em;
    h1 {
      font-size: 16px;
      font-weight: normal;
    }

    h2 {
      font-size: 14px;
      font-weight: normal;
    }

  }
  .image  {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 100px;
    width: 45px;
    height: 45px;
    background-color: rgba(220, 220, 220, 0.25);
    img {
      width: 30px;
      border-radius: 100px;
    }
  }
}
