<shared-primary-page [disableHeader]="true">

  <ng-template #imageTemplate>
    <i class="eva eva-person-outline"></i>
  </ng-template>

  <shared-topbar [imageTemplate]="imageTemplate" [header]="'Users'"></shared-topbar>

  <div class="users-container" *ngFor="let user of users">
    <users-user [user]="user" (onEdit)="onEdit($event)" (onResetPassword)="onResetPasswordClick($event)" (onDelete)="onDeleteClick($event)"></users-user>
  </div>

  <ng-template #deleteTemplate>
    <user-delete username="{{selectedUser?.username}}" (onCancel)="toggleWindow(false)" (onDelete)="onDelete()"></user-delete>
  </ng-template>

  <ng-template #editTemplate>
    <user-edit [user]="selectedUser" (onClose)="toggleWindow(false)"></user-edit>
  </ng-template>

  <ng-template #resetPasswordTemplate>
    <user-reset-password username="{{selectedUser?.username}}" (onCancel)="toggleWindow(false)" (onReset)="onResetPassword()"></user-reset-password>
  </ng-template>

  <shared-popup *ngIf="showWindow" [contentTemplate]="currentTemplate"></shared-popup>

</shared-primary-page>
