<div class="user-container">
  <div class="id-container">ID: {{user?.id ?? 'N/A'}}</div>
  <div class="edit-button" (click)="edit()"><i class="eva eva-edit-outline"></i></div>
  <div class="image">
    <img src="https://i.guim.co.uk/img/media/ef8492feb3715ed4de705727d9f513c168a8b196/37_0_1125_675/master/1125.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=d456a2af571d980d8b2985472c262b31"/>
  </div>
  <div class="info">
    <h1>{{user?.name ?? 'N/A'}}</h1>
    <h2>{{user?.username ?? 'N/A'}}</h2>
  </div>
  <div class="account-info">
    <div class="data">
      <h1>Role</h1>
      <h2>{{user?.role ?? 'N/A'}}</h2>
    </div>
    <div class="data">
      <h1>Email</h1>
      <h2>{{user?.email ?? 'N/A'}}</h2>
    </div>
    <div class="data">
      <h1>Teams</h1>
      <h2>{{user?.teams ?? 'N/A'}}</h2>
    </div>
    <div class="data">
      <h1>Plan</h1>
      <h2>{{user?.plan ?? 'N/A'}}</h2>
    </div>
    <div class="data">
      <h1>Account created</h1>
      <h2>{{user?.registration ?? 'N/A'}}</h2>
    </div>
  </div>
  <div class="button-container">
    <div class="button reset" *ngIf="!user?.isAdmin" (click)="resetPassword()">
      <i class="eva eva-refresh-outline"></i>
      <p>Reset password</p>
    </div>
    <div class="button" *ngIf="!user?.isAdmin" (click)="delete()">
      <i class="eva eva-person-delete-outline"></i>
      <p>Delete</p>
    </div>
  </div>
</div>
