<shared-page>
  <div [className]="'registration-container'">
    <h1>Create an account</h1>
    <form>
      <shared-input type="text" header="Username" placeholder="Enter your username" [maxLength]="50" #usernameInput></shared-input>
      <shared-input type="text" header="Name" placeholder="Enter your name" [maxLength]="75" #nameInput></shared-input>
      <shared-input type="email" header="Email" placeholder="Enter your email" [maxLength]="255" #emailInput></shared-input>
      <shared-input type="password" header="Password" placeholder="Enter your password" [maxLength]="255" #passwordInput></shared-input>
      <shared-input type="password" header="Password again" placeholder="Enter your password again" [maxLength]="255" #passwordAgainInput></shared-input>
      <shared-button text="Create" [className]="'button'" theme="default" (click)="register(usernameInput.value, nameInput.value, emailInput.value, passwordInput.value, passwordAgainInput.value)"></shared-button>
      <shared-button text="Login" [className]="'button'" theme="none" (click)="navigateToLogin()"></shared-button>
    </form>
  </div>
</shared-page>
