<shared-primary-page [disableHeader]="true">

  <ng-template #buttonsTemplate>
    <div [className]="'button-container'">
      <div [className]="'button'">
        All
      </div>
      <div [className]="'button'">
        My teams
      </div>
      <shared-button [text]="'Create'" theme="default" (onClick)="toggleCreateProjectsWindow(true)"></shared-button>
    </div>
  </ng-template>
  <ng-template #imageTemplate>
    <i class="eva eva-people-outline"></i>
  </ng-template>

  <shared-topbar [buttonsTemplate]="buttonsTemplate" [imageTemplate]="imageTemplate" [header]="'Teams'"></shared-topbar>

  <div [className]="'teams-container'">
    <div [className]="'teams'" *ngFor="let team of teams">
      <teams-team [team]="team"></teams-team>
    </div>
  </div>

  <ng-template #contentTemplate>
    <teams-create-team (onClose)="toggleCreateProjectsWindow(false)"></teams-create-team>
  </ng-template>

  <shared-popup *ngIf="showCreateTeamsWindow" [contentTemplate]="contentTemplate"></shared-popup>

</shared-primary-page>
