@
.teams-container {

}
.teams {
  margin: 1em 0;
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  gap: 10px;
  .button {
    width: auto;
    white-space: nowrap;
    display: flex;
    font-size: 18px;
    padding: 0.35em 0.75em;
    cursor: pointer;
    user-select: none;
    border-radius: 4px;
    border: 1px solid transparent;
    transition: background-color 0.3s ease-out;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s ease-in-out;
    }
  }
}
