<shared-primary-page [disableHeader]="true">

  <ng-template #buttonsTemplate>
    <shared-button [text]="'Edit'" theme="default" (onClick)="toggleEditWindow(true)"></shared-button>
  </ng-template>
  <ng-template #imageTemplate>
    <img [className]="'team-image'" src="https://static.euronews.com/articles/stories/06/31/78/50/400x225_cmsv2_01a070e6-3194-5587-8267-772c9ace8dce-6317850.jpg"/>
  </ng-template>

  <shared-topbar [buttonsTemplate]="buttonsTemplate" [imageTemplate]="imageTemplate"></shared-topbar>

  <div [className]="'container'">
    <div [className]="'content'">
      <shared-data [header]="'Id'" [value]="team?.id?.toString() ?? 'N/A'"></shared-data>
      <shared-data [header]="'Name'" [value]="team?.name?.toString() ?? 'N/A'"></shared-data>
      <shared-data [header]="'Description'" [value]="team?.description?.toString() ?? 'N/A'"></shared-data>
      <shared-data [header]="'Visibility'" [value]="team?.isPublic ? 'Public' : 'Private'"></shared-data>
    </div>
  </div>

  <div [className]="'topbar-container'">
    <shared-topbar [header]="'Members'" [secondary]="true"></shared-topbar>
  </div>

  <div [className]="'members-container'">
    <team-member></team-member>
    <team-member></team-member>
    <team-member></team-member>
  </div>

  <div [className]="'topbar-container'">
    <shared-topbar [header]="'Projects'" [secondary]="true"></shared-topbar>
  </div>

  <ng-template #contentTemplate>
    <team-edit (onClose)="toggleEditWindow(false)"></team-edit>
  </ng-template>

  <shared-popup *ngIf="showEditWindow" [contentTemplate]="contentTemplate"></shared-popup>

</shared-primary-page>
